doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      div
        a(href='/') Highscores
      div
        a(href='/about') About
    section
      block content